src/main/mule/saml-validation-policy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc6a9de7-46fc-4d94-8990-a4a4c206af0e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="23944009-5531-4964-a662-7608ec1230ab" file="config.properties.yaml" />
	<flow name="saml-validation-policyFlow" doc:id="f4aa42aa-053d-4628-8b52-46bee56089a8" >
		<http:listener doc:name="/test" doc:id="7ceb7f30-fa99-4a63-b8d0-bf04e46452c5" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#[false]" doc:name="getSAMLResponse - false" doc:id="3379bb3a-71e9-420b-b37f-63c40002327c" variableName="getSAMLResponse" />
		<try doc:name="Try" doc:id="5ec8a4b9-e7ce-4541-8cd7-0205abe4e5b7" >
			<set-variable value="#[output application/java --- payload.SAMLResponse]" doc:name="SAMLResponse" doc:id="3d7bdd75-3494-4321-85c4-2b6e7ddbef8f" variableName="SAMLResponse" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b7310516-c426-4274-8660-d0c0efa19c04" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="e5ebf0d1-d5d5-4f3f-bcdd-ccf60dd42078" message="User has not validated with IdP"/>
					<set-variable value="true" doc:name="getSAMLResponse - true" doc:id="c0d77208-9eb0-4b9b-a933-81402152acb4" variableName="getSAMLResponse"/>
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="abfed9e3-11bb-445b-82c9-f15870b48471" >
			<when expression="#[vars.getSAMLResponse]">
				<java:new constructor="AuthNRequestBuilder()" doc:name="New" doc:id="f8f7562b-cbfa-4256-af87-db717634b216" class="com.dejim.AuthNRequestBuilder" />
				<java:invoke doc:name="Generate AuthNRequest" doc:id="67dafbe0-2ef7-4b0d-a637-7ee90de7c54b" instance="#[payload]" class="com.dejim.AuthNRequestBuilder" method="generateAuthNRequest(java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args><![CDATA[#[output application/java
---
{
	arg0: p('sp.acsUrl'),
	arg1: p('sp.entityId'),
	arg2: p('idp.loginUrl'),
	arg3: p('sp.providerName')
}]]]></java:args>
		</java:invoke>
				<http:request method="POST" doc:name="IdP POST Endpoint" doc:id="c25f6500-7d5b-4551-856a-4696cdc96290" url="#[p('idp.postEndpoint')]">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"SAMLRequest": payload,
	"RelayState": "/"
}]]]></http:body>
		</http:request>
			</when>
			<otherwise>
				<java:new doc:name="New" doc:id="ba9bd8bd-e000-4d98-9a3f-9b4a4d75b5f7" class="com.dejim.SAMLValidator" constructor="SAMLValidator()" />
				<java:invoke doc:name="Validate SAMLResponse" doc:id="e8c83b4b-b752-4ae2-9e24-a3d65fe506de" instance="#[payload]" class="com.dejim.SAMLValidator" method="validateSAMLResponse(java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args><![CDATA[#[output application/java
---
{
	arg0: vars.SAMLResponse,
	arg1: p('truststore.path'),
	arg2: p('truststore.password'),
	arg3: p('truststore.alias')
}]]]></java:args>
		</java:invoke>
				<ee:transform doc:name="Transform Message" doc:id="efceef24-861b-4ddf-b07f-5de03975a835">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
