src/main/mule/saml-validation-policy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc6a9de7-46fc-4d94-8990-a4a4c206af0e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="23944009-5531-4964-a662-7608ec1230ab" file="config.properties.yaml" />
	<flow name="saml-validation-policyFlow" doc:id="f4aa42aa-053d-4628-8b52-46bee56089a8" >
		<http:listener doc:name="/test" doc:id="7ceb7f30-fa99-4a63-b8d0-bf04e46452c5" config-ref="HTTP_Listener_config" path="/test"/>
		<java:new constructor="AuthNRequestBuilder()" doc:name="New" doc:id="f8f7562b-cbfa-4256-af87-db717634b216" class="com.dejim.AuthNRequestBuilder"/>
		<java:invoke doc:name="Invoke" doc:id="67dafbe0-2ef7-4b0d-a637-7ee90de7c54b" instance="#[payload]" class="com.dejim.AuthNRequestBuilder" method="generateAuthNRequest(java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: p('sp.acsUrl'),
	arg1: p('sp.entityId'),
	arg2: p('idp.loginUrl'),
	arg3: p('sp.providerName')
}]]]></java:args>
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="5b5d7ff3-95a4-4c50-99a1-c3ebe4198614" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="c25f6500-7d5b-4551-856a-4696cdc96290" url="https://djuang1-dev-ed.my.salesforce.com/idp/endpoint/HttpPost">
			<http:body ><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"SAMLRequest": payload,
	"RelayState": "/001/o"
}]]]></http:body>
		</http:request>
	</flow>
	<flow name="saml-validation-policyFlow2" doc:id="660a4421-6d8f-4bba-aec5-3b957d10406e" >
		<http:listener doc:name="/callback" doc:id="4bfb6239-80f2-4140-aa64-2373382f5faa" config-ref="HTTP_Listener_config" path="/callback"/>
		<set-variable value="#[output application/java --- payload.SAMLResponse]" doc:name="Set Variable" doc:id="3e7301f0-bbeb-45a0-b679-f843cb2b4341" variableName="SAMLResponse"/>
		<logger level="INFO" doc:name="Logger" doc:id="858f840f-2fe5-4138-8fff-8a4e01540056" message="#[vars.SAMLResponse]"/>
		<java:new doc:name="New" doc:id="ba9bd8bd-e000-4d98-9a3f-9b4a4d75b5f7" class="com.dejim.AuthNRequestBuilder" constructor="AuthNRequestBuilder()"/>
		<java:invoke doc:name="Invoke" doc:id="e8c83b4b-b752-4ae2-9e24-a3d65fe506de" instance="#[payload]" class="com.dejim.AuthNRequestBuilder" method="validateSAMLResponse(java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: vars.SAMLResponse,
	arg1: p('truststore.path'),
	arg2: p('truststore.password'),
	arg3: p('truststore.alias')
}]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Transform Message" doc:id="efceef24-861b-4ddf-b07f-5de03975a835" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
